  <%= form_for [@journal, @adventure] do |f| %><br>
    <p>Add the name of the location you atteneded</p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <p>Add the contact information for the location (if any)</p>
    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <p>Prove a description of the meal you enjoyed</p>
    <%= f.label :meal_description %>
    <%= f.text_field :meal_description %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
