<h1><%= @journal.event_title %></h1>
<h2><%= @journal.event_date.to_s(:long) %></h2>

<%= link_to 'Edit Journal', edit_journal_path(@journal) %>
<%= link_to 'Delete this journal entry', journal_path(@journal),
                                         method: :delete,
                                         data: {confirm: 'Are you sure?'} %>


<% @adventure.each do |adventure| %>
 <hr>
 <h2><%=adventure.name%></h2>
 <p><%= adventure.address%></p>
 <p><%= adventure.phone%></p>
 <p><%= adventure.meal_description%></p>
 <%= link_to 'Edit Adventure', edit_adventure_path(adventure) %>
<% end %>




