<div class='page-header'>
  <h1><%= @journal.event_title %> <small><%= @journal.event_date.to_s(:long) %></small></h1>
</div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Actions
    <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" <%= link_to 'Add an adventure', new_journal_adventure_path(@journal) %>></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" <%= link_to 'Edit Journal title', edit_journal_path(@journal)%>></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" <%= link_to 'Delete this journal entry', journal_path(@journal),
                                           method: :delete,
                                           data: {confirm: 'Are you sure?'}%>></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" <%= link_to 'Back to all journals', root_path%>></a></li>
  </ul>
</div>
<div>
<% @adventure.each do |adventure| %>
  <address>
    <strong><%=adventure.name%></strong><br>
    <%= adventure.address%><br>
    <abbr title='Phone'>P: <%= adventure.phone%></p>
  </address>
  <h3>What did you eat?</h3>
   <p><%= adventure.meal_description%></p>
   <%= link_to 'Edit Adventure', edit_adventure_path(adventure), class: "btn btn-default btn-sm" %><br>
<% end %>
</div>






